[submodule "odns-api"]
	path = odns-api
	url = https://github.com/netd-tud/odns-api.git
[submodule "odns-dataimporter"]
	path = odns-dataimporter
	url = https://github.com/netd-tud/odns-dataimporter.git
[submodule "ipinfos"]
	path = ipinfos
	url = https://github.com/netd-tud/ipinfos.git
	branch = http_api
[submodule "odns-apikey-emailer"]
	path = odns-apikey-emailer
	url = https://github.com/netd-tud/odns-apikey-emailer.git
